/* ...
 *= require_self
 *= require_tree .
 */

@import 'bootstrap-sprockets';
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import 'simple_calendar';
@import '_footer';
@import 'home';
@import 'payments';
@import 'resources';

.marginTop{
 margin-top: 125px;
}

.flags {
  .flag-icon {
    height: 20px;
    width: 20px;
  }
}
