%footer.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    .row
      .footer-copyright.py-3
        © 2018 Copyright:
        %a{href: "https://github.com/netguru-code-college/despacito-booking"} Despacito Booking GH Repository
