%nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
  .container
    %a.navbar-brand.js-scroll-trigger{:href => root_path} Despacito Booking
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      Menu
      %i.fa.fa-bars
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.text-uppercase.ml-auto
        %li.nav-item
          %a.nav-link.js-scroll-trigger{:href => root_path} Home
        - if user_signed_in?
          - if current_user.admin?
            %li.nav-item
              = link_to 'Add resource', new_resource_path, class: 'nav-link js-scroll-trigger'
          %li.nav-item
            = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link js-scroll-trigger'
        - else
          %li.nav-item
            %button.btn-link.nav-link.js-scroll-trigger{"data-target" => "#exampleModal", "data-toggle" => "modal", type: "button"} Login
          %li.nav-item
            = link_to 'Sign Up', new_user_registration_path, class: 'nav-link js-scroll-trigger'
