%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to('Despacito Booking', root_path, class: 'navbar-brand')
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        = link_to('Home', root_path, class: 'nav-link')
      -# %li.nav-item
      -#   %a.nav-link{href: "#"} Link
    %form.form-inline.my-2.my-lg-0
      -# = link_to 'Login', new_user_session_path, :class => "btn btn-outline-success my-2 my-sm-0", :remote => true, "data-toggle" => "modal", "data-target" => "exampleModal"
      -# = link_to('Login', new_user_session_path, class: 'btn btn-outline-success my-2 my-sm-0')
      %button.btn.btn-outline-success.my-2.my-sm-0{"data-target" => "#exampleModal", "data-toggle" => "modal", type: "button"} Login
